<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <div class="create-account">
        <h4 class="text-center">Create Account</h4>
        <p class="text-center">Get started with your Prograd Employers account!</p>
        <hr>
      </div>
      <div class="register-img">
        <img
          class='resize_fit_center'
          src="assets/img/employees.jpg"
          alt="Prograd Employers">
      </div>

      <div class="register-form">
        <mat-card-content>
          <form #f="ngForm" (ngSubmit)="f.form.valid && registerCompany()" novalidate>
            <mat-form-field class="full-width">
              <mat-label>Company</mat-label>
              <input matInput
                     placeholder="Company"
                     name="company"
                     [(ngModel)]="model.name"
                     #name="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && name.invalid}"
                     required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput
                     placeholder="Email"
                     name="email"
                     [(ngModel)]="model.email"
                     #email="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && email.invalid}"
                     required email>

            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input matInput
                     placeholder="Password"
                     name="password"
                     type="password"
                     [(ngModel)]="model.password"
                     #password="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && password.invalid}"
                     required>
            </mat-form-field>
            <button mat-raised-button type="submit" color="accent">
              <i class="fa fa-user"></i>
              <span> Register</span>
            </button>

          </form>
        </mat-card-content>
      </div>
    </div>
    <div class="offset-3"></div>
  </div>
</div>





