.full-width {
  width: 100%;
}

.create-account h4 {
  font-weight: bold;
}

.register-form {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
