<app-mat-spinner-overlay
  overlay="true"
  *ngIf="loading === true">
</app-mat-spinner-overlay>

<div class="container" *ngIf="loading === false">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-md-12">
      <mat-card class="full-width">
        <mat-card-title>
          Applications
        </mat-card-title>
        <hr>
        <mat-card-content *ngIf="applications.length > 0">
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Date or title">
          </mat-form-field>

          <table mat-table [dataSource]="datasource" class="applications-table">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let application">{{application.fullName}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let application">{{application.email}}</td>
            </ng-container>

            <ng-container matColumnDef="cv">
              <th mat-header-cell *matHeaderCellDef>CV</th>
              <td mat-cell *matCellDef="let application" (click)="onCv(application.applicationId)"><a mat-flat-button>View CV</a></td>
            </ng-container>

            <ng-container matColumnDef="profile">
              <th mat-header-cell *matHeaderCellDef>Profile</th>
              <td mat-cell *matCellDef="let application" (click)="onProfile(application.email)"><a mat-flat-button>View Details</a></td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let application" (click)="onActions(application)"><a mat-flat-button><mat-icon>assignment_return</mat-icon></a></td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let application">
                <mat-chip-list>
                  <mat-chip
                    color="accent"
                    selected
                    *ngIf="application.status === 'No Response'">
                    Pending
                  </mat-chip>
                  <mat-chip
                    class="success"
                    selected
                    *ngIf="application.status != 'No Response'">
                    Response Sent
                  </mat-chip>
                </mat-chip-list>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
        <mat-card-subtitle *ngIf="applications.length === 0">No applications</mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</div>
