 /*You can add global styles to this file, and also import other style files*/
@import '~bootstrap/dist/css/bootstrap.min.css';
 @import '~@angular/material/theming';
 $custom-typography: mat-typography-config(
   $font-family: 'Lato, "Helvetica Neue", sans-serif;'
 );
 @include mat-core($custom-typography);

html, body { height: 100%; }
 ::-webkit-scrollbar
 {
   width: 14px;

   &-track {
     background: transparent;
   }
   &-thumb {
     background: #989898;
     border: 3px solid #fafafa;
     border-radius: 10px;

     &:hover {
       background: #696969;
     }
   }
 }

 .ck-editor__editable_inline {
   min-height: 200px;
 }

