<app-mat-spinner-overlay
  overlay="true"
  *ngIf="loading === true">
</app-mat-spinner-overlay>

<div class="container" *ngIf="loading === false">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-md-12">
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Job title</ng-template>
            <mat-form-field>
              <mat-label>Job Title</mat-label>
              <input matInput placeholder="Job Title" formControlName="firstCtrl" required
                     [(ngModel)]="position.title">
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Description</ng-template>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <input matInput placeholder="Description" formControlName="firstCtrl" required
                     [(ngModel)]="position.description">
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Location</ng-template>
            <mat-form-field>
              <mat-label>City</mat-label>
              <input matInput formControlName="firstCtrl" placeholder="City" required
                     [(ngModel)]="position.location">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Requirements</ng-template>
            <p>Please add the required skills for this position</p>
            <mat-form-field class="full-width" appearance="outline">
              <mat-chip-list #chipList aria-label="Skills selection">
                <mat-chip
                  color="primary"
                  *ngFor="let skill of skills"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeSkill(skill)">
                  {{skill.skillName}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  class="full-width"
                  placeholder="Skills"
                  [formControl]="skillsCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addSkill($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedSkill($event)">
                <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill.skillName">
                  {{skill.skillName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="user.subscribed">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
            <div *ngIf="!user.subscribed">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="onDone()">Done</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="firstFormGroup" *ngIf="user.subscribed">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Priority</ng-template>
            <mat-form-field>
              <mat-label>Job Type</mat-label>
              <mat-select (selectionChange)="selectedType($event)" required>
                <mat-option value="P">Priority</mat-option>
                <mat-option value="B">Basic</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="onDone()">Done</button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
