<div class="container centered">
  <mat-card class="spacer" style="text-align: center" *ngIf="!subscribed">
    <div class="photo">
      <img style="width: 20%; height: 20%;" src="assets/images/prograd_icon.png" alt="prograd_icon">
    </div>
    <div class="description">
      <h2>{{product.title}}</h2>
      <h4>{{product.subTitle}}</h4>
      <h1>&euro;6.50</h1>
      <p>Prgorad Employers allows you to advertise entry-level jobs directly to talented individuals.</p>
      <p>Subscribe to Prograd Employers now and start using our premium features!</p>
      <button class="spacer" mat-raised-button color="accent" (click)="checkout()">Subscribe</button>
    </div>
  </mat-card>
  <mat-card class="spacer" style="text-align: center" *ngIf="subscribed">
    <div class="photo">
      <img style="width: 20%; height: 20%;" src="assets/images/prograd_icon.png" alt="prograd_icon">
    </div>
    <div class="description">
      <h2>{{product.title}}</h2>
      <h2>Subscription Status - <span style="color: green">Active</span></h2>
    </div>
  </mat-card>
</div>
